<!DOCTYPE html>
<html>
    <%- include('includes/head') %>

    <body class="bg-bggray text-gray-50 min-h-screen flex flex-col">
        <div class="grid grid-cols-1 md:grid-cols-8 flex-1">
            <%- include('includes/sidebar') %>

            <div class="flex flex-col col-span-6 container">
                <%- include('includes/manageheader') %>
                <h2 class="text-3xl font-bold mx-8 mt-6 mb-2 underline">Homepage</h2>
                <section class="grid grid-cols gap-4 my-4 mx-8">
                    <div class="background-1">
                        <div class="flex flex-col rounded-lg bg-darkerbggray h-[fit-content]">
                            <div class="flex flex-col px-4 pt-2 pb-4"">
                                <img src="https://cdn.discordapp.com/icons/924038453568602162/a_54c9d38e8ea22a8c3aaa603c542989d3.gif?size=512" class="rounded-full items-center justify border-2 border-white object-cover h-48 w-96 max-w-none" style="margin-left:auto;margin-right:auto;" width="256" height="256" />
                                <div class="flex flex-col items-center text-lg">
                                    <p>Welcome to <b>California State Roleplay</b> staff panel.</p>
                                    <p><code>Signed in as <b><%= user.username %>#<%= user.discriminator %></b></code></p>
                                    <div class="font-bold text-2xl" style="margin-top: 22px;">Resources</div>
                                </div>
                                <div class="mt-4 space-x-4 space-x-reverse" style="display:block;margin-left:auto;margin-right:auto;">
                                    <a href="https://docs.google.com/document/d/1WVreZIZfkxJpiJoIV5KKxw25Q2VaxekDhw2y7cSMMRQ/edit?usp=sharing" target="_blank" class="px-3 py-1 rounded-lg bg-success transition-opacity duration-300 hover:opacity-70">Staff Pronounces</a>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSctKupzPYt-_-FOmBRgBeM6YvpoprgMz803oasTZd7AQCiy4A/viewform" target="_blank" class="px-3 py-1 rounded-lg bg-success transition-opacity duration-300 hover:opacity-70">Staff Appeal</a>
                                    <a href="https://form.jotform.com/222453936961160" target="_blank" class="px-3 py-1 rounded-lg bg-success transition-opacity duration-300 hover:opacity-70">Guidebook</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>